<div class="p-3 bg-[#ffc82c] text-black text-base mb-4 dark:text-white dark:bg-[#856200]">
  <div class="px-6 mx-auto min-w-full">
    <div class="mx-auto max-w-xl text-center prose prose-p:text-black prose:a:font-normal prose-p:text-sm prose-p:leading-normal dark:prose-p:text-white dark:prose-a:text-white">
      {{ text }}
    </div>
  </div>
</div>
