<div class="max-w-3xl mx-auto">
  <footer class="border-t py-8">
    <ul class="flex flex-col items-center space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
    {% for link in links %}
      <li>
        <a class="text-gray-500 text-lg hover:text-gray-700" href="#0">
          {{ link.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </footer>
</div>
